nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5% 0;
  max-width: 520px;
  margin: 0 auto;
}

nav ul,
#contact-button {
  display: none;
}

#nav-title img {
  width: 3rem;
}

#nav-title h3 {
  display: none;
}

#menu-icon {
  font-size: 2rem;
}

header hr {
  margin-top: 0.6rem;
  border: none;
  height: 1px;
  background-color: var(--orange);
  opacity: 0.3;
}

#banner {
  padding: 1.5rem 5% 0;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1.2rem;
  max-width: 520px;
  margin: 0 auto;
}

#banner-content {
  text-align: center;
}

#banner-content h1 {
  font-size: 2rem;
  font-weight: bold;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

#banner-content p {
  font-size: 0.85rem;
  font-weight: 540;
  opacity: 0.95;
  margin: 1rem 0 1.1rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 0.5rem;
  padding: 0.65rem 1.3rem;
}

.button:hover {
  opacity: 0.75;
  cursor: pointer;
}

#banner-image img {
  width: 100%;
}

@media screen and (min-width: 576px) {
  nav,
  #banner {
    max-width: 89%;
  }

  #nav-title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }

  #nav-title h3 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }

  header hr {
    display: none;
  }

  #banner-content h1 {
    max-width: 70%;
  }

  #banner-content p {
    max-width: 80%;
  }
}

@media screen and (min-width: 768px) {
  nav,
  #banner {
    max-width: 87%;
  }

  #nav-title h3,
  #menu-icon {
    display: none;
  }

  nav ul {
    display: flex;
    gap: 2.5vw;
  }

  nav li {
    list-style-type: none;
  }

  nav li > a {
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: 580;
  }

  nav li > a:hover {
    opacity: 0.7;
  }

  #contact-button {
    display: block;
    color: #fff;
    background-color: var(--orange);
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 0.5rem 1.75rem;
  }

  #contact-button:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  #banner {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }

  #banner-content {
    text-align: left;
  }

  #banner-content h1 {
    font-size: 2.15rem;
    max-width: none;
  }

  #banner-content p {
    font-weight: 450;
    max-width: none;
  }

  .button {
    font-size: 0.9rem;
    padding: 0.5rem 1.75rem;
  }

  #banner-image {
    min-width: 40%;
  }
}

@media screen and (min-width: 992px) {
  nav,
  #banner {
    max-width: 84%;
  }

  nav li > a,
  #banner-content p {
    font-size: 0.9rem;
  }

  #nav-title h3 {
    display: block;
  }

  #banner {
    gap: 3rem;
  }

  #banner-content h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  nav,
  #banner {
    max-width: 80%;
  }

  #banner {
    gap: 4rem;
  }

  #banner-content h1 {
    font-size: 2.8rem;
  }

  #banner-content p {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 1400px) {
  nav,
  #banner {
    max-width: 75%;
  }

  #banner {
    gap: 5rem;
  }

  #banner-content h1 {
    font-size: 3rem;
  }

  #banner-content p {
    font-size: 1.15rem;
  }
}
